/* NoctaFin v1.1 — dépôt de 0x80070006 */
@import url("https://cdn.jsdelivr.net/gh/0x80070006/Noctafin-jellyfin-theme-@main/theme.css?v=1.1.0");

/* Exemples de personnalisation locale : */
:root {
  --nf-violet: #7c5cff;
  --nf-purple: #b54cff;
  --nf-pink: #ff4fa3;
  --nf-cyan: #25d7ff;
}
